@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap");

/*============================
RESETS=====================
==============================*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* Better readability for text rendering and line-height*/
body {
  -webkit-font-smoothing: antialiased;
  line-height: 1.6;
}

/* Better readability for title line-height  */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
}

/* Remove default list styling */
ul,
ol {
  list-style: none;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Improved focus styles */
a,
button {
  outline: none;
  border: none;
  color: inherit;
}

/* Links reset */
a {
  text-decoration: none;
}

/* Anything that is intuitive to be clicked, make the cursor pointer */
input[type="checkbox"],
input[type="date"]::-webkit-calendar-picker-indicator,
select,
button {
  cursor: pointer;
}

/*============================
GENERAL LAYOUT AND STYLES==
==============================*/
:root {
  font-family: "Orbitron", sans-serif;
}

body {
  background-repeat: no-repeat;
  background-image: linear-gradient(
    320deg,
    rgb(45, 0, 0),
    rgb(84, 0, 0),
    rgb(144, 0, 0),
    red
  );
  min-height: 100vh;
}

/*============================
SPECIFIC LAYOUT AND STYLES=
==============================*/
/* 1- MUTE-BUTTON  */
.mute-btn {
  position: absolute;
  font-size: 3rem;
  right: 0.3em;
  top: 0.3em;
  cursor: pointer;
  transition: scale 250ms;
}

.mute-btn:hover {
  scale: 1.1;
}

.no-display {
  display: none;
}

/* 1- TITLE */
h1 {
  font-size: 8rem;
  color: #c0c0c0; /* Silver color for a metal plate look */
  text-shadow:
    0px 0px 10px rgba(255, 255, 255, 0.5),
    3px 3px 6px #444;
  text-align: center;
  font-weight: 800;
  margin-bottom: 0.5em;
}

/* 1- MAIN */
main {
  text-align: center;
}

/* DIALOGUE SIZE */
.dialogue {
  font-size: 1.5rem;
  width: 50%;
  margin-inline: auto;
  color: whitesmoke;
}

/* TYPEWRITER ANIMATION */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.opacity {
  opacity: 1;
}

/* 1- BATTLE-BUTTON */
.battle-btn {
  padding: 0.5em 1em;
  font-size: 1.5rem;
  border-radius: 5px;
  margin: 0 auto;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  bottom: 2em;
  transition: all 300ms;
}

.battle-btn:hover {
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
}
